body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #303846;
    line-height: 1.5;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.header {
    height: 60px;
    background-color: #fff;
    display: flex;
}

.header-wrapper {
    padding: 5px 20px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sticky {
  position: sticky;
  top: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.a-white {
    color: #fff;
}

.a-white:visited {
    color: #fff;
}

.a-white:active {
    color: #fff;
}

.logo {
    margin-right: 15px;
    width: 30px;
}

.logo-header {
    display: inline-flex;
}

.m-10 {
    margin: 10px;
}

.col-white {
    color: #fff;
}

.bg-space {
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center;
}

.w-150 {
    width: 150px;
}

.btn {
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  margin-top: 10px;
}

.btn-book {
    border: 1px solid #fff;
    color: #fff;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 60px 0;
    align-items: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-flex-between {
  display: flex;
  justify-content: space-between;
}

.w-30 {
    width: 30%;
}

.bg-gray {
    background-color: #f7f7f7;
}

.item {
    flex-direction: column;
    width: 45%;
}

.param-img {
    width: 30%;
    height: 100%
}

.form-of-request {
    width: 50%;
    color: #09d3ac;
    border-radius: 1px;
    align-items: center;
    margin: auto;
}

.btn-green {
    border: 1px solid #09d3ac;
    color: #09d3ac;
}

.form-of-request fieldset {
    border-style: solid;
    border-color: #09d3ac;

}

.form-of-request label {
    color: black;
    align-items: center;
    font-weight: bold;
}

.form-of-request select {
    border-radius: 10px;
    float: right;
    padding: 10px;
    width: 50%;
}

.form-wrapper {
    padding: 5px 10px 10px;
    margin: 5px 10px 20px;
    align-items: center;
}

.form-of-request input {
    border-radius: 10px;
    float: right;
    padding: 10px;
    width: 50%;
    border-style: solid;
    border-width: 1px;
}

.bg-deep-gray {
    background-color: #303846;
}

.f-size-1 {
    font-size: 1em;
}

.dis-flex {
    display: flex;
}

.w-1000 {
    width: 1000px;
}

.txt-center {
    text-align: center;
}
