:root {
  --header-height: 60px;
  --white: #fff;
  --deep-gray: #303846;
  --black: #000;
  --green: #09d3ac;
  --gray: #f7f7f7;
}

body {
  margin: 0;
  color: var(--deep-gray);
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.header {
  background-color: var(--white);
  display: flex;
}

.header-wrapper {
  padding: 5px 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-sticky {
  position: sticky;
  top: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--black);
}

a:visited {
  color: var(--black);
}

a:active {
  color: var(--black);
}

.a-white {
  color: var(--white);
}

.a-white:visited {
  color: var(--white);
}

.a-white:active {
  color: var(--white);
}

.m-right-15 {
  margin-right: 15px;
}

.d-inline-flex {
  display: inline-flex;
}

.m-10 {
  margin: 10px;
}

.c-white {
  color: var(--white);
}

.bg-space {
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center;
}

.w-150px {
  width: 150px;
}

.btn {
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  margin-top: 10px;
}

.btn-book {
  border: 1px solid var(--white);
  color: var(--white);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: var(--header-height) 0;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-between {
  justify-content: space-between;
}

.w-30 {
  width: 30%;
}

.bg-gray {
  background-color: var(--gray);
}

.w-45 {
  width: 45%;
}

.form-of-request {
  color: var(--green);
  border-radius: 1px;
  align-items: center;
  margin: auto;
}

.btn-green {
  border: 1px solid var(--green);
  color: var(--green);
}

.form-of-request fieldset {
  border-style: solid;
  border-color: var(--green);
}

.form-of-request label {
  color: var(--black);
  align-items: center;
  font-weight: bold;
}

.form-of-request select {
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
}

.form-wrapper {
  padding: 5px 10px 10px;
  margin: 5px 10px 20px;
  align-items: center;
}

.form-of-request input {
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
}

.bg-deep-gray {
  background-color: var(--deep-gray);
}

.f-size-1 {
  font-size: 1em;
}

.d-flex {
  display: flex;
}

.txt-center {
  text-align: center;
}

.a-items-center {
  align-items: center;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-30px {
  width: 30px;
}

.h-60px {
  height: var(--header-height);
}

.h-100 {
  height: 100%;
}
